/* index.css versión principiante estilo login */

/* Fondo y tipografía general */
body{
background-color: rgb(118,118,255);
font-family: Arial;
margin:0;
padding:0;
color:white;
}


.container{
width: 400px;
margin: 50px auto;
background: #333;
padding: 50px;
text-align: center;
}

.eduMain{
font-size: 25px;
color:white;
margin-bottom: 10px;
}

/* Botones */
.button{
display:inline-block;
width: 100%;
padding: 10px;
margin: 5px 0;
background: blue;
color: black;
border: none;
border-radius: 5px;
text-decoration:none;
cursor:pointer;
font-weight:bold;
}

.Caracteristicas{
background-color: rgb(70,70,70);
padding: 20px;
border-radius:5px;
margin-top: 20px;
text-align:left;
}
