body{
    background-color: rgb(2, 2, 95);
}


.mainBox{
    background-color: rgb(14, 14, 14);
    position: relative; left: 250px; top: 200px;
    padding: 10px;
    height: 300px;
    width: 1000px;
    border-radius: 20px;
    border-style: solid;
}

.text1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding-left: 50px;
    padding-top: 40px;
}

.text2{
    color: white;
    position: relative; bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-left: 50px;
}

.emailInput{
    position: absolute; top: 110px; left: 600px;
    height: 60px;
    width: 300px;
    background-color: rgb(14, 14, 14);
    border-radius: 10px;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;

}
.emailInput:hover{
    transition: 0.5s;
    border-color: rgb(118, 118, 255);
}

.loginButton{
    position: relative; left: 850px; bottom: -40px;
    background-color: rgb(118, 118, 255);
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(118, 118, 255);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 15px;
    width: 25px;
    padding: 10px;
}
.loginButton:hover{
    transition: 0.2s;
    background-color: rgb(14, 14, 14);
}

.createAccButton{
    position: relative; left: 550px; bottom: -40px;
    background-color: rgb(118, 118, 255);
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(118, 118, 255);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 15px;
    width: 25px;
    padding: 10px;
    text-decoration: none;
}
.createAccButton:hover{
    transition: 0.2s;
    background-color: rgb(14, 14, 14);
}