/* login.css */
/* CAMBIOS */
/*
14 12 2025
he puesto una classe para cada uno de los inputs y el select y cambiado la decoracion de estos (correo, contraseña)
cambiado el fondo ambos de la pagina y de la parte principal
cambiado el titulo de la pagina

15 12 2025



/* Fondo y tipografía general */
body{
background-color: rgb(118, 118, 255);
font-family: Arial;
}

.container{
width: 400px;
margin: 120px auto;
background: #333;
padding: 50px;
text-align: center;
}

.textoLogin{
font-size: 25px;
color:white;
margin-bottom: 10px;
}


/* Inputs */
.inputCorreo{
width: 100%;
padding: 8px;
border:1px solid black;
margin-bottom: 10px;
}

.inputContraseña{
width: 100%;
padding: 8px;
border:1px solid black;
margin-bottom: 10px;
}

.botonSubmit{
padding: 10px;
background: blue;
color: black;
border: none;
width: 100%;
}

.createAccButton{
color:white;
font-size: 12px;
text-decoration:none;
}
