body{
background-color: #7676ff;
font-family: Arial;
}

.container{
width: 400px;
margin: 120px auto;
background: #333;
padding: 50px;
text-align: center;
box-shadow: 20px 20px 20px black;
border-radius: 15px;
align-content: center;
}

.textoRegistro{
font-size: 25px;
color:white;
margin-bottom: 10px;
position: relative; top: -20px;
}

.inputNombre{
width: 100%;
padding: 8px;
border:1px solid black;
margin-bottom: 10px;
border-radius: 5px;
}
.inputNombre:hover{
    border-color: #7676ff;
    transition: 0.3s;
    border-width: 1px;
    background-color: #ffffffd1;
}

.inputCorreo{
width: 100%;
padding: 8px;
border:1px solid black;
margin-bottom: 10px;
border-radius: 5px;
}
.inputCorreo:hover{
    border-color: #7676ff;
    transition: 0.3s;
    border-width: 1px;
    background-color: #ffffffd1;
}

.inputContraseña{
width: 100%;
padding: 8px;
border:1px solid black;
margin-bottom: 10px;
border-radius: 5px;
justify-content: center;
}
.inputContraseña:hover{
    border-color: #7676ff;
    transition: 0.3s;
    border-width: 1px;
    background-color: #ffffffd1;
}

.seleccionRol{
width: 100%;
padding: 8px;
border:1px solid black;
margin-bottom: 10px;
border-radius: 5px;
justify-content: center;
}
.seleccionRol:hover{
    border-color: #7676ff;
    transition: 0.3s;
    background-color: #ffffffd1;
}

.botonSubmit{
padding: 10px;
background: #3636ff;
position: relative; bottom: -20px;
color: black;
border: none;
width: 100%;
border-color: #3636ff;
border-style: solid;
border-radius: 5px;
}
.botonSubmit:hover{
    background-color: #333;
    transition: 0.3s;
    color: white;
    transform: scale(1.05);
    transition: 0.5s;
}