/* register.css */

/* Fondo y tipografía general */
body {
    background-color: rgb(118, 118, 255);
    font-family: Arial, Helvetica, sans-serif;
}

/* Caja central del registro */
.container {
    width: 400px;
    margin: 80px auto;
    padding: 30px;
    background-color: rgb(225, 225, 225); /* Gris claro */
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Título */
.container h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #000; /* Negro */
}

/* Inputs y select */
.container input[type="text"],
.container input[type="email"],
.container input[type="password"],
.container select {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 2px solid rgb(118, 118, 255); 
    border-radius: 10px;
}

/* Botón de registro */
.container input[type="submit"] {
    width: 95%;
    padding: 10px;
    font-size: x-large;
    border-radius: 10px;
    border: 2px solid rgb(118, 118, 255); /* Gris claro */
    background-color: rgb(118, 118, 255); /* Gris claro */
    cursor: pointer;
    color: #000; /* Texto negro */
}

.container input[type="submit"]:hover {
    background-color: rgb(154, 154, 181); /* Hover violeta */
    transition: 0.5s;
}
