/* starting page */

header{
    background-color: rgb(225, 225, 225);
    border-radius: 0;
    height: 150px;
    margin-top: -35px;
    width: 100vw;
    margin-left: -10px;
    z-index: 1;
}


body{
    background-color: white;
}

.loginButton{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-decoration: none;
    color: #000000;
    position: relative; top: -85px; left: 1150px;
    border-radius: 10px;
    border-color: rgb(225, 225, 225);
    border-width: 2px;
    border-style:solid;
    padding: 10px;
    background-color: rgb(225, 225, 225);
}
.loginButton:hover{
    transition: 0.5s;
    background-color: rgb(188, 187, 255);
}

.registerButton{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-decoration: none;
    color: #000000;
    position: relative; top: -85px; left: 1200px;
    border-radius: 10px;
    border-color: rgb(225, 225, 225);
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    background-color: rgb(225, 225, 225);
}
.registerButton:hover{
    transition: 0.5s;
    background-color: rgb(188, 187, 255);
}

.accedirButton{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-decoration: none;
    color: #000000;
    position: relative; bottom: -400px; left: 100px;
    border-radius: 10px;
    border-color: rgb(225, 225, 225);
    border-width: 2px;
    border-style:solid;
    padding: 10px;
    background-color: rgb(225, 225, 225);
}
.accedirButton:hover{
    transition: 0.5s;
    background-color: rgb(188, 187, 255);
}

.eduMain{
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

