
body {
    background-color: rgb(118, 118, 255); /* fondo morado flojo */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* caja central */
.container {
    width: 400px;
    margin: 80px auto;
    padding: 30px;
    background-color: rgb(225, 225, 225); /* gris claro */
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* titulo */
.container h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #000;
}

.container input[type="text"],
.container textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 2px solid rgb(118, 118, 255);
    border-radius: 10px;
}

/* boton de enviar */
.container input[type="submit"] {
    width: 95%;
    padding: 10px;
    font-size: x-large;
    border-radius: 10px;
    border: 2px solid rgb(118, 118, 255);
    background-color: rgb(118, 118, 255);
    cursor: pointer;
    color: #000;
}

.container input[type="submit"]:hover {
    background-color: rgb(154, 154, 181);
    transition: 0.5s;
}
